<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>All Users</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link href="../static/css/style.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<nav class="navbar navbar-light navbar-expand-lg bg-dark fixed-top text-white" style="height:5em">
    <a th:href="@{/app}" class="navbar-brand">
        <img th:src="@{/images/logo.jpg}" alt="logo" style="width: 80px; height:70px">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#my-nav">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" style="font-size: 20px" id="my-nav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link text-white" th:href="@{/app}" th:text="#{homeLink}">Home</a>
            </li>
            <li class="nav-item" th:if="${visitorRoles.contains('ADMIN') || visitorRoles.contains('USER')}">
                <a class="nav-link text-white" th:href="@{/app/personalRoom}"
                   th:text="#{personalRoomLink}">My Personal Room</a>
            </li>
            <li th:if="${visitorRoles.contains('ADMIN')}" class="nav-item">
                <a class="nav-link text-white" th:href="@{/app/user}" th:text="#{usersLink}">Users</a>
            </li>
            <li th:if="${visitorRoles.contains('ADMIN')}" class="nav-item">
                <a class="nav-link text-white" th:href="@{/app/moneyAccount}" th:text="#{moneyAccsLink}">Money Accounts</a>
            </li>
            <li th:if="${visitorRoles.contains('ADMIN')}" class="nav-item">
                <a class="nav-link text-white" th:href="@{/app/payment}" th:text="#{paymentsLink}">Payments</a>
            </li>
            <li th:if="${visitorRoles.contains('ADMIN')}" class="nav-item">
                <a class="nav-link text-white" th:href="@{/app/order}" th:text="#{ordersLink}">Orders</a>
            </li>
        </ul>
        <a class="nav-link text-white" th:href="@{'?locale=en'}">EN</a>
        <a class="nav-link text-white" th:href="@{'?locale=uk'}">UKR</a>
        <a th:if="${!visitorRoles.contains('ADMIN') && !visitorRoles.contains('USER')}"
           th:href="@{/app/registration}" class="btn btn-primary mr-2 ml-2" th:text="#{signUpLink}">Sign Up</a>
        <a th:href="@{/app/login}" class="btn btn-primary mr-2 ml-2" th:text="#{signInLink}"
           th:if="${!visitorRoles.contains('ADMIN') && !visitorRoles.contains('USER')}">Sign In</a>
        <form th:if="${visitorRoles.contains('ADMIN') || visitorRoles.contains('USER')}" method="post" th:action="@{/app/logout}">
            <input type="submit" class="btn btn-primary mr-2 ml-2" th:value="#{logOutLink}">
        </form>
    </div>
</nav>
<div class="container" style="width: 1300px; margin-top: 6.5em">
    <form th:method="get" th:action="@{/app/user/new}">
        <input class="btn btn-success" type="submit" th:value="#{crtNewUser}">
    </form>
    <div>
        <table class="table table-bordered table-striped table-hover mt-2">
            <thead>
            <tr>
                <th th:text="#{userNameLabel}">Username</th>
                <th th:text="#{emailLabel}">Email</th>
                <th th:text="#{rolesLabel}">Roles</th>
                <th th:text="#{editBtn}">Edit</th>
                <th th:text="#{deleteBtn}">Delete</th>
            </tr>
            </thead>
            <tbody th:each="user : ${users}">
            <tr>
            </tr>
            <tr th:if="${user != null}">
                <td th:text="${user.getUsername()}"></td>
                <td th:text="${user.getEmail()}"></td>
                <td th:each="role : ${user.getRoles()}">
                    <span th:text="${role.name()}"></span>
                </td>
                <td><a class="btn btn-primary" th:href="@{/app/user/{id}(id=${user.getId()})}" th:text="#{editBtn}">Edit</a></td>
                <td>
                    <form th:method="delete" th:action="@{/app/user/{id}(id=${user.getId()})}">
                        <input class="btn btn-danger" type="submit" th:value="#{deleteBtn}">
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
