<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Payment Confirmation Form(To Card)</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link href="../static/css/style.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="container mt-4 pr-2 pl-2 pt-1 pb-1" style="width: 30em; border: 2px solid #999; border-radius: 5px">
        <p th:text="${paymentPrepMessage}" class="cRed"></p>
        <h2 th:text="#{paymToCrCard}">Payment to credit card</h2>
        <h3 th:text="${'№'+ cardPaymentConfDto.getPaymentNumber()}"></h3>
        <div class="row">
            <div class="col">
        <form th:method="PUT" th:action="@{/app/payment/toCard}" th:object="${cardPaymentConfDto}">
            <input type="hidden" th:field="*{senderMoneyAccountId}">
            <input type="hidden" th:field="*{receiverCreditCardNumber}">
            <input type="hidden" th:field="*{paymentNumber}">
            <input type="hidden" th:field="*{receiverMoneyAccountId}">
            <p class="emphText" th:text="#{toCardLabel}">To card:</p>
            <p th:text="${cardPaymentConfDto.getReceiverCreditCardNumber()}"></p>
            <input type="hidden" th:field="*{receiverAccountName}">
            <p class="emphText" th:text="#{recMonAcc}">Receiver's card number:</p>
            <p th:text="${cardPaymentConfDto.getReceiverAccountName()}"></p>
            <input type="hidden" th:field="*{payedSumString}">
            <p class="emphText" th:text="#{sumToPayLabel}">Sum to pay:</p>
            <p th:if="not (${paymentPrepMessage} == 'You dont have enough money for this payment')"
               th:text="${cardPaymentConfDto.getMovedSumString()  + 'UAH'}"></p>
            <p class="cRed" th:if="(${paymentPrepMessage} == 'You dont have enough money for this payment')"
               th:text="${cardPaymentConfDto.getMovedSumString()  + 'UAH'}"></p>
            <input type="hidden" th:field="*{paymentComissionString}">
            <p class="emphText" th:text="#{senderPaysComLabel}">Sender pays comission:</p>
            <p th:if="not (${paymentPrepMessage} == 'You dont have enough money for this payment')"
               th:text="${cardPaymentConfDto.getPaymentComissionString() + 'UAH'}"></p>
            <p class="cRed" th:if="${paymentPrepMessage} == 'You dont have enough money for this payment'"
               th:text="${cardPaymentConfDto.getPaymentComissionString() + 'UAH'}"></p>
            <p class="emphText" th:text="#{totToPayLabel}">Total to pay:</p>
            <p th:if="not (${paymentPrepMessage} == 'You dont have enough money for this payment')"
               th:text="${cardPaymentConfDto.getPayedSumString() + 'UAH'}"></p>
            <p th:if="${paymentPrepMessage} == 'You dont have enough money for this payment'"
               class="cRed" th:text="${cardPaymentConfDto.getPayedSumString()} + 'UAH'"></p>
            <input type="hidden" th:field="*{assignment}">
            <p class="emphText" th:text="#{assignmentLabel}">Assignment:</p>
            <p th:text="${cardPaymentConfDto.getAssignment()}"></p>
            <input th:if="${paymentPrepMessage == null}" type="submit" th:value="#{confBtn}" class="button btn-success mt-2 mb-2 mr-2">
        </form>
            </div>
            <div class="col mb-2">
                <div class="d-flex flex-column justify-content-end align-items-end mr-3">
                <form th:method="DELETE" th:action="@{/app/payment}">
                    <input type="hidden" name="senderMoneyAccId" th:value="${cardPaymentConfDto.getSenderMoneyAccountId()}">
                    <input type="hidden" name="paymentNumber" th:value="${cardPaymentConfDto.getPaymentNumber()}">
                    <input type="hidden" name="payedSumString" th:value="${cardPaymentConfDto.getPayedSumString()}">
                    <input class="btn btn-warning" type="submit" th:value="#{cancel}">
                </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>